Information About the Post

<%= render partial: "authors/author", locals: {post_author: @post.author} %>

<% if false %>
<%= render {partial: "authors/author", locals: {post_author:@author}} %>
<% end %>

<% if false %>
<ul>
  <li> <%= @author.name %></li>
  <li> <%= @author.hometown %></li>
</ul>
<% end %>

<%= @post.title %>
<%= @post.content %>
